html {
  background-color: #edf2f7;
}

.mn-bg-black {
  background-color: #202020;
}
.mn-bg-yellow {
  background-color: #ebe714;
}
.mn-bg-light-red {
  background-color: #ee3b34;
}

.header-actions__refresh-all button {
  min-width: 100px;
}

.footer .mn-bg-light-red {
  background-image: url('./assets/images/Patterns-Numbers-Red.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.footer .mn-bg-yellow {
  background-image: url('./assets/images/Patterns-Symbols-Yellow.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
